<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH208GjZGfrePTd4CeX3r0KkNbFOEKW7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1042111819722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uisample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-72ef8</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-72ef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042111819722:ios:a42b3574d0100e5bafe933</string>
</dict>
</plist>